<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Nunito+Sans:opsz@6..12&display=swap"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Angkor&display=swap" rel="stylesheet">
</head>
<body>
<div class="header">
    <h1 th:text="|Hello ${user.getUsername()}! Which pokemon will u choose?|"></h1>
    <h2 th:if="${notFounded} == true" style="text-align:center; color: red" >None of searched parameters matched the pokemons</h2>
    <div class="searchbar">
        <form method="POST" action="/search">
            <input type="text" id="search" name="search" placeholder="who's that Pokemon" required minlength="1">
            <input type="submit" value="Search" id="button">
        </form>
    </div>
</div>
<div class="container">
    <div class="allPokemons">
        <div th:each="pokemon : ${pokemonList}" class="onePokemon">
            <a th:href="|/${pokemon.getId()}/info|">
                <img th:src="|/${pokemon.getImage()}|" width="205" height="205"><br>
            </a>
        </div>
    </div>
</div>
</body>
</html>